@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
/* #home::after {
  content: "";
  background: radial-gradient(
    circle at 100%,
    #333,
    #eee 50%,
    #fff 75%,
    #fff 75%
  );
  @apply w-[200px] h-[200px] rounded-full absolute top-16 right-10 -z-50 md:w-[300px] md:h-[300px] md:top-16 md:right-56;
} */

.page {
  @apply w-full px-4 md:px-10;
  transition: all 0.5s ease;
}

.slide-bar {
  @apply flex justify-between;
}

.next {
  @apply ml-5 scale-125;
}
.back {
  @apply mr-5 scale-125;
}

.input {
  @apply block w-full py-2;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
}
.input:focus {
  outline: none;
}
.input:focus label {
  transform: translateY(-20px);
}
